@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Audrey";
  src: url('../asset/Audrey/Audrey-Medium.woff2');
  font-weight: auto;
  font-style: normal;
}

@font-face {
  font-family: "Audrey";
  src: url('../asset/Audrey/Audrey-Normal.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Audrey";
  src: url('../asset/Audrey/Audrey-MediumOblique.woff2');
  font-weight: auto;
  font-style: italic;
}

@font-face {
  font-family: "Audrey";
  src: url('../asset/Audrey/Audrey-NormalOblique.woff2');
  font-weight: normal;
  font-style: italic;
}
  

html {
  scroll-behavior: smooth;
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;
}
